<h1>Form Controls</h1>
<!-- Inputs -->
<h2>Text input</h2>
<mat-form-field appearance="outline">
  <mat-label>Zwykły input</mat-label>
  <input matInput placeholder="Ex. Pizza" />
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Input z ikoną prefix</mat-label>
  <input disabled="true" matInput placeholder="Ex. Pizza" />
  <mat-icon matPrefix>sentiment_very_satisfied</mat-icon>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Input z tekstem prefix</mat-label>
  <input matInput placeholder="Ex. Pizza" />
  <span matTextPrefix>PLN&nbsp;</span>
  <mat-hint> Po "PLN" jest spacja </mat-hint>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Input z ikoną suffix</mat-label>
  <input matInput placeholder="Ex. Pizza" />
  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Input z tekstem suffix</mat-label>
  <input matInput placeholder="Ex. Pizza" />
  <span matTextSuffix>PLN&nbsp;</span>
  <mat-hint align="end">Hint do prawej, bo tak mogę</mat-hint>
</mat-form-field>

<h2>Text input z maską</h2>
<mat-form-field appearance="outline">
  <mat-label>Data urodzenia</mat-label>
  <input [maskito]="dateMask" matInput placeholder="03/11/1998" />
  <mat-hint>Na przykład: 03/11/1998</mat-hint>
</mat-form-field>

<h2>Password Input</h2>
<mat-form-field appearance="outline">
  <mat-label>Enter your password</mat-label>
  <input matInput [type]="hide ? 'password' : 'text'" />
  <button
    mat-icon-button
    matSuffix
    (click)="hide = !hide"
    [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="hide"
  >
    <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
  </button>
</mat-form-field>

<h2>Textarea</h2>
<mat-form-field appearance="outline">
  <mat-label>Leave a comment</mat-label>
  <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
</mat-form-field>

<h2>Błędy (required validator)</h2>
<mat-form-field appearance="outline">
  <mat-label>Email</mat-label>
  <input
    type="email"
    matInput
    [formControl]="emailFormControl"
    placeholder="Ex. pat@example.com"
  />
  <mat-hint>Wprowadź wartość, a potem ją usuń</mat-hint>
  @if (emailFormControl.hasError('required')) {
  <mat-error>Email is <strong>required</strong></mat-error>
  }
</mat-form-field>

<h2>Select</h2>
<mat-form-field appearance="outline">
  <mat-label>Favorite food</mat-label>
  <mat-select>
    <mat-option value="volvo">Volvo</mat-option>
    <mat-option value="saab">Saab</mat-option>
    <mat-option value="mercedes">Mercedes</mat-option>
    <mat-option value="audi">Audi</mat-option>
  </mat-select>
</mat-form-field>

<h2>Autocomplete</h2>
<mat-form-field appearance="outline">
  <mat-label>Number</mat-label>
  <input
    type="text"
    placeholder="Pick one"
    aria-label="Number"
    matInput
    [formControl]="myControl"
    [matAutocomplete]="auto"
  />
  <mat-autocomplete #auto="matAutocomplete">
    @for (option of filteredOptions | async; track option) {
    <mat-option [value]="option">{{ option }}</mat-option>
    }
  </mat-autocomplete>
</mat-form-field>

<h2>Date Input (with Datepicker, without Mask)</h2>
<p>Tutaj docelowo będzie obsługa maski</p>
<mat-form-field appearance="outline">
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker" />
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<h2>Checkbox</h2>
<section class="example-section">
  <mat-checkbox class="example-margin">Check me!</mat-checkbox>
  <mat-checkbox class="example-margin" [disabled]="true">Disabled</mat-checkbox>
</section>

<h1>Buttons</h1>
<button mat-flat-button color="primary">Primary</button>
<button mat-stroked-button color="primary">Primary</button>
